<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NHBR_SCAN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
    <applicationSettings>
        <NHBR_SCAN.Properties.Settings>
            <setting name="timerSpan" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="trayPath" serializeAs="String">
                <value>c:\NHBR_OCR\TRAY\</value>
            </setting>
            <setting name="ocrPatternLoadPath" serializeAs="String">
                <value>c:\NHBR_OCR\WRHV803\</value>
            </setting>
            <setting name="wrOutPath" serializeAs="String">
                <value>C:\NHBR_OCR\READ\</value>
            </setting>
            <setting name="dataPath" serializeAs="String">
                <value>C:\NHBR_OCR\DATA\</value>
            </setting>
            <setting name="wrReaderOutFile" serializeAs="String">
                <value>txtout.csv</value>
            </setting>
            <setting name="ocrErrPath" serializeAs="String">
                <value>C:\NHBR_OCR\OCRERROR\</value>
            </setting>
            <setting name="scanPath" serializeAs="String">
                <value>c:\NHBR_OCR\SCAN\</value>
            </setting>
            <setting name="wrHands_Job" serializeAs="String">
                <value>日本ビールFAX注文書.job</value>
            </setting>
            <setting name="reFaxPath" serializeAs="String">
                <value>c:\NHBR_OCR\RE_FAX\</value>
            </setting>
            <setting name="myTalkPath" serializeAs="String">
                <value>c:\myTalk\TRAY\</value>
            </setting>
            <setting name="myTalkOutPath" serializeAs="String">
                <value>c:\myTalk\FAX8889\</value>
            </setting>
            <setting name="myTalkPath2" serializeAs="String">
                <value>c:\myTalk\TRAY2\</value>
            </setting>
        </NHBR_SCAN.Properties.Settings>
    </applicationSettings>
</configuration>