<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NHBR_OCR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="rakusyo_faxocr" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=test-pc)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=rakusyo))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <add name="OracleDbContext" connectionString="User Id=rakusyo;Password=rakusyo;Data Source=rakusyo_faxocr"
      providerName="Oracle.ManagedDataAccess.Client" />
    <add name="NHBR_OCR.Properties.Settings.NHBRConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\NHBR_OCR\MDB\NHBR.mdb"
      providerName="System.Data.OleDb" />
    <add name="NHBR_OCR.Properties.Settings.NHBR_CLIConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\NHBR_CLI\MDB\NHBR_CLI.mdb"
      providerName="System.Data.OleDb" />
    <add name="NHBR_OCR.Properties.Settings.mdbOlePath" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\NHBR_CLI\MDB\NHBR_CLI.mdb"
      providerName="System.Data.OleDb" />
    <add name="NHBR_OCR.Properties.Settings.mdbPathTemp" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\NHBR_CLI\MDB\NHBR_CLI_Temp.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <applicationSettings>
    <NHBR_OCR.Properties.Settings>
      <setting name="xlsFaxPattern" serializeAs="String">
        <value>c:\NHBR_OCR\XLS\FAX注文書.xlsx</value>
      </setting>
      <setting name="dataPath" serializeAs="String">
        <value>c:\NHBR_OCR\DATA\</value>
      </setting>
      <setting name="mydataPath" serializeAs="String">
        <value>c:\NHBR_CLI\MYDATA\</value>
      </setting>
      <setting name="lockFileName" serializeAs="String">
        <value>PC1</value>
      </setting>
      <setting name="mdbPath" serializeAs="String">
        <value>c:\NHBR_CLI\MDB\</value>
      </setting>
      <setting name="ngPath" serializeAs="String">
        <value>c:\NHBR_OCR\OCRERROR\</value>
      </setting>
      <setting name="reFaxPath" serializeAs="String">
        <value>c:\NHBR_OCR\RE_FAX\</value>
      </setting>
      <setting name="menuTimeSpan" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="campaignPath" serializeAs="String">
        <value>C:\NHBR_CLI\CAMREC\</value>
      </setting>
      <setting name="camPaignWorhPath" serializeAs="String">
        <value>C:\NHBR_CLI\CAMWORK\</value>
      </setting>
    </NHBR_OCR.Properties.Settings>
  </applicationSettings>
</configuration>